<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW | REJECTED | BANK</title>
    <link rel="shortcut icon" href="/image/favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/bank/home.css">
</head>

<body>

    <div class="loader-container" id="loader-container">
        <div class="loader"></div>
    </div>


    <section class="home">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12 col-md-9 order-md-2">
                    <div class="main-content">
                        <div class="nav-adjust"></div>
                        <div class="header">
                            <p class="text-white fs-2 fw-bold text-center py-3">REJECTED</p>
                        </div>
                        <ul class="list-group list-group-horizontal b-list">
                            <li class="list-group-item w-25 rounded-0 b-li">NAME</li>
                            <li class="list-group-item w-75 rounded-0 b-li">
                                <%= finder.name %>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal b-list">
                            <li class="list-group-item w-25 rounded-0 b-li">EMAIL</li>
                            <li class="list-group-item w-75 rounded-0 b-li">
                                <%= finder.email %>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal b-list">
                            <li class="list-group-item w-25 rounded-0 b-li">MOBILE</li>
                            <li class="list-group-item w-75 rounded-0 b-li">
                                <%= finder.mobile %>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal b-list">
                            <li class="list-group-item w-25 rounded-0 b-li">DATE OF BIRTH</li>
                            <li class="list-group-item w-75 rounded-0 b-li">
                                <%= finder.dob %>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal b-list">
                            <li class="list-group-item w-25 rounded-0 b-li">AADHAR</li>
                            <li class="list-group-item w-75 rounded-0 b-li">
                                <%= finder.aadhar %>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal b-list">
                            <li class="list-group-item w-25 rounded-0 b-li">ADDRESS</li>
                            <li class="list-group-item w-75 rounded-0 b-li">
                                <%= finder.house %> , <%= finder.street %> , <%= finder.pincode %> , <%= finder.district %>
                            </li>
                        </ul>

                        <div class="container-fluid mt-3 p-0 d-flex align-items-center justify-content-center">
                            <a href="/bank/approveaccount/<%= finder.id %>" class="approve-button">Approve</a>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <%-include('./sidebar')%>
                </div>
            </div>
        </div>
    </section>




    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('accounts').classList.add('sidebar-active')
        window.onload = function () {
            document.getElementById('loader-container').style.display = 'none'
            // setTimeout(() => {
            //     document.getElementById('msg').innerHTML = null
            // }, 3000)
        }
        function loader(){            
            document.getElementById('loader-container').style.display='flex'
        }

        window.onbeforeunload = function() {
            document.getElementById('loader-container').style.display = 'flex';
        };
    </script>
</body>

</html>